#letras-resultado {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: none;
    user-select: none;
    letter-spacing: 5px;
}

#input-letra {
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: none;
    user-select: none;
    /* color: #000; */
}

#genera-letra-aleatoria {
    font-size: 24px;
}

#genera-letra-aleatoria:hover {
    cursor: pointer;
    /* background-color: #f8f9fa; */
    box-shadow: -3px 1px 23px -1px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -3px 1px 23px -1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -3px 1px 23px -1px rgba(0, 0, 0, 0.58);
    transition: all 0.3s;
    /* color: #000; */
}

#hint {
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: none;
    text-wrap: pretty;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.btn-bd-primary {
    --bd-violet-bg: #474748;
    --bd-violet-rgb: 71, 71, 72;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #616162;
    --bs-btn-hover-border-color: #616162;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #56565a;
    --bs-btn-active-border-color: #56565a;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}